<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Labo DataViz</title>
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/inscription.css') }}">
      <link rel="icon" href="{{url_for('static', filename = 'src/icons/home.png')}}" />
</head>
<body>

      <div class="header">
            <div class="inner-header flex">
                  <div class="container">
            
                        <div class="row justify-content-center">
                               <div class="subcontainer subcontainer-inscription" >
                                     <form action="{{ url_for('url.inscription') }}" method="post" class="form" id="formId">
             
                                           <h3 class="text-center" >Formulaire d'inscription</h3>
                                           
                                           <div class="row">
                                                 <label for="identifiant" class="label col-md-4 col-lg-4 col-sm-4 col-xs-4 " >Identifiant</label>
                                                 <div class="col-md-9 col-lg-8 col-sm-8 col-xs-8">
                                                       <input type="text" name="identifiant" id="identifiant" class="form-control" placeholder="Identifiant" autocomplete="off" required>
                                                 </div>
                                           </div>
                                     
                                       
                                          <div class="row">
                                                 <label for="password" class="label col-md-4 col-lg-4 col-sm-4 col-xs-4 ">Mot de passe</label>
                                                 <div class="col-md-9 col-lg-8 col-sm-8 col-xs-8">
                                                       <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required>
                                                 </div>
                                           </div>
             
                                           
                                           <div class="row">
                                                <label for="password" class="label col-md-4 col-lg-4 col-sm-4 col-xs-4 ">Confirmation de mot de passe</label>
                                                 <div class="col-md-9 col-lg-8 col-sm-8 col-xs-8">
                                                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" placeholder="Confirmation de mot de passe" required>
                                                 </div>
                                           </div>
                         
                                           <button class="btn btn-info" type="submit" form="formId" value="Submit">Ajouter un compte</button>
                                           <a class="btn btn-info" href="{{ url_for('url.home_page') }}">Annuler</a>
                                           {% if error %}
                                              <br><span id="error_message">*{{ error }}</span>
                                           {% endif %}
             
                                    </form>
                                    
                              </div>
                         </div>
                   </div>
            </div>
        
            <!--Waves Container-->
            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                    </g>
                </svg>
            </div>
            <!--Waves end-->
        
        </div>
        <div class="content flex">
            <br>
            <p>©<span id="span-year"></span> copyright LIRMM | All right reserved</p>
        </div>

      

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="{{url_for('static', filename = 'js/currentYear.js')}}" type="text/javascript"></script>
</body>
</html>